:root{
    --color_fondo:#1e293b;
    --color_texto: #f8fafc;
    --color_acento: #f97316;
}

.modo_dia{
    --color_fondo:#f1f5f9;
    --color_texto:#0f172a;
    --color_acento: #ea580c;
}

.modo_dia #principal{
    background-color: rgba(0, 0, 0, 0.05);
}

.modo_dia #prediccion li{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_fondo);
    color: var(--color_texto);
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    transition: backgroung-color 0.5s ease;
}

#principal{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    margin:0px;

}

#menuIcon{
    filter: invert(1);
    width: 35px;
}

#menuBtn{
    position: absolute;
    background-color: var(--color_acento);
    border-radius: 10px;
    padding: 10px;
    border: none;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 30px;
    transition: 0.3s;
    z-index: 1;
    cursor: pointer;
}

#menuBtn:hover{
    opacity: 0.8;
}

#sidebar{
    height: 100vh;
    width: 250px;
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    background-color: var(--color_acento);
    z-index: 1;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.3s;
}

.oculto{
    transition: 0.3s;
    transform: translateX(-100%);
}

.desplazado{
    transform: translateX(250px);
}

#buscar {
    background-color: var(--color_fondo);
    padding: 12px;
    color: var(--color_texto);
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid grey;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

#buscarLabel {
    position: absolute;
    left: 12px;
    top: 14px;
    color: grey;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
    background-color: var(--color_fondo); 
    padding: 0 5px;
    border-radius: 5px;
}

.input-contenedor{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#buscar:focus {
    border-color: var(--color_texto);
}

#buscar:focus ~ #buscarLabel,
#buscar:not(:placeholder-shown) ~ #buscarLabel {
    top: -10px;
    font-size: 12px;
    color: var(--color_texto);
}

#buscarBtn{
    border: none;
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color_fondo);
    color: var(--color_texto);
    font-size: 14px;
    font-weight: bold;
    min-width: 100%;
    transition: 0.3s;
}

#buscarBtn:hover{
    transform: translateY(-2px);
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.1);
}

#prediccion{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 20px;
}

#prediccion li{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px 5px;
    border-radius: 15px;
    text-align: center;
    flex: 1;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#prediccion li .dia{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
}

#prediccion li{
    font-weight: bold;
    font-size: 1.1rem;
}

#ciudad{
    text-transform: uppercase;
    font-weight: 400;
}

#temperatura{
    font-size:1.8rem ;
    font-weight: 800;
    margin: 10px 0;
    color: var(--color_acento);
}

#icono_clima{
    margin: 10px 0;
    width: 5rem;
    
}

.modo_dia #icono_clima,.modo-dia #prediccion img{
    filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.2));
}

.item-favorito{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

@media (max-width:768px){
    #principal{
        width: 90%;
        box-sizing: border-box;
    }

    #prediccion{
        justify-content: flex-start;
        overflow-x: auto;
        padding-bottom: 15px;
        gap: 15px;
    }

    #prediccion li{
        min-width: 80px;
        flex-shrink: 0;
    }
}